##############################
## Java
##############################
*.jar
*.war
*.class

##############################
## IntelliJ
##############################
.idea
out/

##############################
## Eclipse
##############################
.settings/
bin/
tmp/
.metadata
.classpath
.project

##############################
## OS X
##############################
.DS_Store