##############################
## Java
##############################
*.jar
*.war
*.class

##############################
## IntelliJ
##############################
.idea
out/
*.iml

##############################
## Eclipse
##############################
.settings/
bin/
tmp/
.metadata
.classpath
.project
build/
*.bak
*.wsdd

##############################
## OS X
##############################
.DS_Store