##############################
## Java
##############################
*.jar
*.war
*.class

##############################
## IntelliJ
##############################
.idea
out/
*.iml

##############################
## Eclipse
##############################


##############################
## OS X
##############################
.DS_Store